body{
    background-color: gray;
}


.black{
    background-color: black;
    width: 100px;
    height: 100px;
    /* display: inline-block; */
}
.white{
    z-index: 1;
    position: relative;
    top: -100px;
    background-color: white;
    width: 100px;
    height: 100px;
    /* display: inline-block; */
}

img{

    /* position: relative; */
    /* top: -100px; */
    /* position: absolute; */
    /* top: 10px; */
    /* right: 20px; */
    /* left: 110px; */
}
/* 
ul{
    position: fixed;
    top: 0;
    background-color: aqua;
}

ul > li{
    width: 200px;
    display: inline-block;
} */




.abc{
    background-color: yellow;
    width: 30%;
    float: left;
}
.def{
    /* float: left; */
    width: 30%;
    background-color: aqua;
}
p{
    clear: both;
}





